<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.authenticationservice">
      <authentication_service
            implementation="eu.anasta.bm.fail2ban.Fail2BanAuthentification">
      </authentication_service>
   </extension>
   <extension
         point="net.bluemind.core.loginvalidation">
      <validation_listener
            implementation="eu.anasta.bm.fail2ban.Fail2BanValidation">
      </validation_listener>
   </extension>
   <extension
         point="net.bluemind.core.custompropertyrequirements">
      <custom_property_requirements
            implementation="eu.anasta.bm.fail2ban.Fail2BanPropertyRequirements">
      </custom_property_requirements>
   </extension>
   <extension
         point="net.bluemind.core.handler.ui.extensionprovider">
      <ui_extension
            implementation="eu.anasta.bm.fail2ban.SystemExtensionProvider">
      </ui_extension>
   </extension>
   <extension
         point="net.bluemind.core.handler.host.templatecustomizer">
      <template_customizer
            implementation="eu.anasta.bm.fail2ban.FailTagProvider">
      </template_customizer>
   </extension>

</plugin>
